<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @allot_leafe.employee_id %>
</p>

<p>
  <strong>Paymonth:</strong>
  <%= @allot_leafe.paymonth_id %>
</p>

<%= link_to 'Edit', edit_allot_leafe_path(@allot_leafe) %> |
<%= link_to 'Back', allot_leaves_path %>
