<p id="notice"><%= notice %></p>

<p>
  <strong>Leave:</strong>
  <%= @paymonth_leafe.leave_id %>
</p>

<p>
  <strong>Paymonth:</strong>
  <%= @paymonth_leafe.paymonth_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @paymonth_leafe.value %>
</p>

<%= link_to 'Edit', edit_paymonth_leafe_path(@paymonth_leafe) %> |
<%= link_to 'Back', paymonth_leaves_path %>
